<footer id="site-footer" class="py-10 print:hidden">
  {{/* Custom 3-column footer */}}
  {{ partial "footer-custom.html" . }}

  <div class="flex items-center justify-between max-w-[var(--content-max)] mx-auto px-[var(--space-5)]">
    {{/* Copyright */}}
    {{ if .Site.Params.footer.showCopyright | default true }}
      <p class="text-sm text-neutral-500 dark:text-neutral-400">
        {{- with replace .Site.Params.copyright "{ year }" now.Year }}
          {{ . | markdownify }}
        {{- else }}
          &copy;
          {{ now.Format "2006" }}
          {{ with .Site.Params.Author.name }}{{ . | markdownify }}{{ end }}
        {{- end }}
      </p>
    {{ end }}
  </div>

  {{ if not .Site.Params.disableImageZoom | default true }}
    <script>
      mediumZoom(document.querySelectorAll("img:not(.nozoom)"), {
        margin: 24,
        background: "rgba(0,0,0,0.5)",
        scrollOffset: 0,
      });
    </script>
  {{ end }}

  {{/* Extend footer */}}
  {{ if templates.Exists "partials/extend-footer.html" }}
    {{ partialCached "extend-footer.html" . }}
  {{ end }}
</footer>
