{{/* BreadcrumbList JSON-LD */}}
{{ $breadcrumbs := slice }}
{{ $breadcrumbs = $breadcrumbs | append (dict "name" .Site.Title "url" (.Site.BaseURL | default "/")) }}

{{ if not .IsHome }}
  {{ $ancestors := .Ancestors.Reverse }}
  {{ range $ancestors }}
    {{ if not .IsHome }}
      {{ $breadcrumbs = $breadcrumbs | append (dict "name" .LinkTitle "url" .Permalink) }}
    {{ end }}
  {{ end }}
  {{ $breadcrumbs = $breadcrumbs | append (dict "name" .LinkTitle "url" .Permalink) }}
{{ end }}

{{ if gt (len $breadcrumbs) 1 }}
  {{- $items := slice -}}
  {{- range $i, $item := $breadcrumbs -}}
    {{- $listItem := dict "@type" "ListItem" "position" (add $i 1) "name" $item.name "item" $item.url -}}
    {{- $items = $items | append $listItem -}}
  {{- end -}}
  {{- $schema := dict "@context" "https://schema.org" "@type" "BreadcrumbList" "itemListElement" $items -}}
<script type="application/ld+json">
{{ $schema | jsonify }}
</script>
{{ end }}
